extends template-pug/layout
//- не забыть про отступ
block head
  - const copyrightContent = '';
  - const authorContent = '';
  - const description = '';
  - const keywords = ' ';
  - const pageTitle = 'Webpack 4, js, slick';
block content
  p it's works!
  h1
  - let i = 1
  +b.slick-s
    while i <= 4
      +e.item
        img(src="images/150.png")
      - i++
