include ../../../node_modules/bemto.pug/bemto
include ../components/mixins/mixins.pug

<!DOCTYPE html>
html(lang="ru")
  include head
  body
    block header
      include header
    block content
    block footer
      include footer

    script(src='js/vendor.bundle.js' defer)
    script(src='js/script.js' defer)
    //- defer/async смотри https://learn.javascript.ru/script-async-defer
